.profile-info{
    display: flex;
    margin: 0 auto;
}

.profile-info-text > h2{
    margin-bottom: .7em;
    border-left: 5px solid #0094f6;
    padding: 0 0.7rem;
}

.profile-info > img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-left: 3rem;
}

.photo-mobile > img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    border: 3px solid #ddd;
}

/* .profile-info-text{
    margin-bottom: 2em;
} */

.profile-info-container{
    display: flex;
    flex-direction: column;
}